main {
  background-image: url(https://i.guim.co.uk/img/media/9a3f8b199ea6df62de5a5351096b23af6e92aa9f/500_234_3388_2033/master/3388.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=2d4754d004499f3dc3d270dfdc84a37a);
  /* background-image: url(https://img1.goodfon.com/wallpaper/nbig/f/cc/planeta-zemlya-rassvet-solnce.jpg); */
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  color: black;
  /* position: absolute; */
  /* background-color: #ee9b00; */
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 5rem;
  border-bottom: .75rem solid #94d2bd;
  background-color: #001219;
  position: relative;
}

a {
  color: #ca6702;
}

.logo {
  position: absolute;
  height: 5rem;
  width: 5rem;
  margin-top: .75rem;
  border-radius: 5rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.navBtn {
  color: #ee9b00;
  text-decoration: none;
  font-size: 18pt;
  font-weight: lighter;
}

.active {
  color: #0a9396;
  text-decoration: underline;
}
